<div class="modal-content">
  <div class="modal-header bg-danger">
    <i class="ion-information-circled modal-icon"></i><span>Delete Confirmation </span>
  </div>
  <div class="modal-body text-center">Are you sure you want to delete the advertisement? </div>
  <div class="modal-footer">
  	<button type="button" class="btn btn-success" ng-click="vm.closemodal($close('no'), 0)">Yes</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss('hi')">Cancel</button>    
  </div>
</div>
