<form>
  <div class="form-group">
    <label for="exampleInputAdsname1">Advertisement name</label>
    <input type="text" required class="form-control" ng-disabled="true"  ng-value="vm.advertisement.Name">
  </div>
  <div class="form-group">
    <label for="exampleInputKeyword1">Keyword</label>
    <input type="text" required class="form-control"  ng-disabled="true"  ng-value="vm.advertisement.Keyword">
  </div>
    <div class="form-group">
    <label for="exampleInputlanding1">landing Page URL  </label>
    <input type="text" required class="form-control"  ng-disabled="true"  ng-value="vm.advertisement.LandingURL">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Budget [RM]</label>
    <input type="text"  required class="form-control" ng-disabled="true"  ng-value="vm.advertisement.Budget">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">banner URL</label>
    <input type="text"  required class="form-control"  ng-disabled="true"  ng-value="vm.advertisement.BannerURL">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Poster/Banner </label>
    
     
    <div class="row">
          <div class="col-sm-12">
            <div  style="overflow: scroll;" class="img-wrapper"><img  id="img_url" src="{{vm.advertisement.BannerURL}}" alt="image Preview" title="" onerror="this.onerror=null;this.src='assets/img/noimage.png';" />
            </div>
        
          </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">STATUS</label>
    <br>
     <label> <h1>{{vm.advertisement.Status}}<h1></label>
  </div>

  
   <!-- <button type="submit" ng-click="vm.allpublish()" class="btn  btn-lg btn-info">TRY</button>    -->
  <div class="text-center" ng-if="vm.advertisement.Status  === 'Pending'">
    <button type="submit" ng-click="vm.open('app/pages/admin/viewadvert/advertdetail/widgets/confirmModal.html', 1)" class="btn  btn-lg btn-success">APPROVE</button>  

    <button type="submit" ng-click="vm.open('app/pages/admin/viewadvert/advertdetail/widgets/confirmModal.html', 0)" class="btn  btn-lg btn-danger">REJECT</button>  
  </div> 

</form>