
.auth-body {
  font: 14px/16px "Roboto", sans-serif;
  color: #666666;
  background-color: #F0F3F4; 
   content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; 
  }

.redbg{
    background: url("../assets/img/red-bg.jpg") no-repeat center center;
}

  .auth-body.mobile {
  background: none; 
  }

  .auth-body.mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: inherit;
    background-color: #F0F3F4; 
    }
  .auth-body.mobile.blur-theme{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; }

  



.auth-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%; }

.auth-block {
  
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 32px; }
  .auth-block h1 {
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center; }
  .auth-block p {
    font-size: 16px; }
  .auth-block a {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #209e91; }
    .auth-block a:hover {
      color: #1b867b; }
  .auth-block .control-label {
    padding-top: 11px;
    color: #ffffff; }
  .auth-block .form-group {
    margin-bottom: 12px; }

.auth-input {
  width: 300px;
  margin-bottom: 24px; }
  .auth-input input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none; }

.auth-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px; }

.auth-sep {
  margin-top: 36px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  display: block;
  position: relative; }
  .auth-sep > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 24px;
    color: #ffffff; }
    .auth-sep > span > span {
      margin-top: -12px;
      display: block; }
  .auth-sep:before, .auth-sep:after {
    border-top: solid 1px #ffffff;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell; }

.btn-auth {
  color: #ffffff !important; }
