<form>
  <div class="form-group">
    <label for="exampleInputAdsname1">Advertisement name</label>
    <input type="text" required class="form-control" ng-model='vm.advertisement.name' id="exampleInputEmail1" placeholder="Brand New Shoe">
  </div>
  <div class="form-group">
    <label for="exampleInputKeyword1">Keyword  (separate by comma [ , ])</label>
    <input type="text" required class="form-control" ng-model='vm.advertisement.keyword' id="exampleInputPassword1" placeholder="Shoe,Nike,New,Used,Cheap,Durable,Sale">
  </div>
    <div class="form-group">
    <label for="exampleInputlanding1">landing Page URL  </label>
    <input type="text" required class="form-control" ng-model='vm.advertisement.landingURL' id="exampleInputPassword1" placeholder="www.yourwebsite.com">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Budget [RM]</label>
    <input type="number"  required class="form-control" ng-model='vm.advertisement.budget' id="exampleInputPassword1" placeholder="120">
  </div>
<script>
    function img_pathUrl(input){
   $('#img_url')[0].src = (window.URL ? URL : webkitURL).createObjectURL(input.files[0]);
}
    </script>
  <div class="form-group">
    <label for="exampleInputPassword1">Poster/Banner </label>
   
     
    <div class="row">
          <div class="col-sm-12">
            <div  style="overflow: scroll;" class="img-wrapper"><img  id="img_url" src="" alt="image Preview" title=""/>
            </div>
        
          </div>
    </div>




    <input type="file" name="img_file" id="img_file" onChange="img_pathUrl(this);" class="form-control" >
  </div>

 
  <div class="text-center">
    <button type="submit" ng-click="vm.open('app/pages/home/widgets/confirmModal.html')" class="btn  btn-lg btn-info">Submit</button>  
  </div> 

</form>